{% extends "index/index.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% load static %}

<div style="min-height:85vh">

    <style>
        img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 25px;
        }

        figure figcaption{
            text-align: center;
        }
    
    </style>
    <h1 class="d-flex justify-content-center">Record a Cardio Workout!</h1>

    <figure>

        <img src="{% static 'index/RunningAnatomy.png' %}" alt="Running Anatomy" width="500" height="300">
        <figcaption>Runnning Tips:
            <br>Relax your shoulders
            <br>Set a rhythm by swinging your arms
            <br>Maintain deep abdominal breathing
        </figcaption>

    </figure>
  
    <div style="margin: 20px 60px 20px 60px;">
        <form method="post">{% csrf_token %}
            {{ form | crispy}}
            <input type="submit" value="Create" />
        </form>
    </div>  

</div>

<!-- <div style="min-height:85vh">
    <h1 class="d-flex justify-content-center">Record a Cardio Workout!</h1>

    <form method="post">{% csrf_token %}
        <div class="form-group">
            <label for="id_type">Type </label>
            <select name="type" id="id_type">
                <option value="Running">RUNNING</option>
                <option value="Biking">BIKING</option>
                <option value="Swimming">SWIMMING</option>
                <option value="Walking">WALKING</option>
            </select>
        </div>
        <div class="form-group">
            <label for="id_time">Time </label>
            <input type="number" name="time" value="{{form.time}}" min="0" required id="id_time">
        </div>
        <div class="form-group">
            <label for="id_distance">Distance</label>
            <input type="number" name="distance" value="{{form.distance}}" min="0" required id="id_distance">
        </div>
        <div class="form-group">
            <label for="id_date">Date </label>
            <input type="text" name="date" value="{{form.date}}" required id="id_date">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div> -->

{% endblock content %}