{% extends "index.html" %}

{% load crispy_forms_tags %}

{% block content %}
<style>
	h4 {
	font-weight: normal;
	}
</style>

<h1 class="d-flex justify-content-center">Cardio Workouts List:</h1>

<div class="container text-center">
    {% for data in cardio_querey_list %}
		<div class="list-group-item flex-column">
            <h3>Type: {{ data.type }}</h3>
			<h4>Time: {{ data.time }}</h4>
			<h4>Distance: {{ data.distance }}</h4>
			<h4>Date: {{ data.date }}</h4>
		</div>
	{% endfor %}
</div>

{% endblock content %}