{% extends "index/index.html" %}
{% block content %}

<!--
# Title: Boostrap
# URL: https://getbootstrap.com/docs/4.0/components/
# Software License: MIT License
-->
<div style="min-height:85vh" style="background-color: #DBF3FA;">
	<div class="jumbotron d-flex flex-wrap" style="background-color: #DBF3FA;">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Rank</th>
					<th scope="col">Username</th>
					<th scope="col">Level</th>
					<th scope="col">Points</th>
				</tr>
			</thead>
			<tbody>
				{% csrf_token %}
				{% for user in database_list %}
				<tr>
					<th scope="row">{{forloop.counter}}</th>
					<td>{{ user.user }}</td>
					<td>{{ user.level }}</td>
					<td>{{ user.points }}</td>
				</tr>
				<br>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="alert alert-secondary" role="alert" style="width:50vw; margin-left:25vw">
		Log more workouts to climb the leaderboard!
	</div>
</div>


{% endblock content %}