{% load socialaccount %}
{% load static %}
{% load index %}

<link rel="stylesheet" type="text/css" href="{% static 'index/index.css' %}">

{% block title %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Exercise Gamification</title>
    <style>
        :root {
            --pct: {
                    {
                    pct_to_next_level
                }
            }

            %
        }
    </style>
</head>
{% endblock title %}

{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Exercise Gamification</a>
    {% if user.is_authenticated %}
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'social' %}">Social</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'database_list' %}">Leaderboard</a>
            </li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Welcome, {{ user.username }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
        </div>
    </div>
    {% endif %}
</nav>
{% endblock header %}

{% block content %}

<div style="min-height:75vh">

    <body>
        {% if user.is_authenticated %}

        <div class="card" style="background-color: #DBF3FA; ">
            <div style="padding:3vw;">
                <div class=" d-flex justify-content-center" style="padding:3vh; font-weight: bold; font-size: larger;">
                    Level
                    {{curr_level}} ({{total_points}} / {{pts_to_next_level}})</div>

                <div class="progress" style="height: 30px">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        aria-valuenow='width:{{pct_to_next_level}}%' aria-valuemin="0" aria-valuemax="1000"
                        style='width:{{pct_to_next_level}}%'>
                        {{pct_to_next_level}}%</div>
                </div>
            </div>

            <div class="dropdown d-flex justify-content-center" style="margin-bottom:10vh; padding:2vh">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-expanded="false">Select Workout Type</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'cardio' %}">Cardio</a>
                    <a class="dropdown-item" href="{% url 'upper' %}">Upper</a>
                    <a class="dropdown-item" href="{% url 'lower' %}">Lower</a>
                </div>
            </div>
        </div>


        <script>
            function get_index(list, index) {
                return list[index];
            }
        </script>

        <div class="jumbotron" style="margin:5vh;">
            <h3>Charlottesville Weather</h3>
            <div class="card-body">
                <p class="card-text">{{weather}}</p>
                <p>Temperature: {{temp}}</p>
                <p>Humidity: {{humidity}}</p>
                <p>Wind: {{wind}}</p>
                <p>{{precipitation}}</p>
            </div>

        </div>

        <div class="card" style="margin:5vh">
            <h3 class="card-header">Cardio Logs</h3>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Type</th>
                            <th scope="col">Time</th>
                            <th scope="col">Distance</th>
                            <th scope="col">Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% csrf_token %}
                        {% for data in cardio_query_list %}
                        <tr>
                            <td>{{data.date}}</td>
                            <td>{{ data.type }}</td>
                            <td>{{ data.time }}</td>
                            <td>{{ data.distance }}</td>
                            <td>{{ cardio_points|index:forloop.counter0 }}</td>
                        </tr>
                        <br>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card" style="margin:5vh;">
            <h3 class="card-header">Upper Body Log</h3>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Type</th>
                            <th scope="col">Sets</th>
                            <th scope="col">Reps</th>
                            <th scope="col">Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% csrf_token %}
                        {% for data in upper_query_list %}
                        <tr>
                            <td scope="row">{{data.date}}</td>
                            <td>{{ data.type }}</td>
                            <td>{{ data.sets }}</td>
                            <td>{{ data.reps }}</td>
                            <td>{{ upper_points|index:forloop.counter0 }}</td>
                        </tr>
                        <br>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card" style="margin:5vh;">
            <h3 class="card-header">Lower Log</h3>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Type</th>
                            <th scope="col">Sets</th>
                            <th scope="col">Reps</th>
                            <th scope="col">Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% csrf_token %}
                        {% for data in lower_query_list %}
                        <tr>
                            <td scope="row">{{data.date}}</td>
                            <td>{{ data.type }}</td>
                            <td>{{ data.sets }}</td>
                            <td>{{ data.reps }}</td>
                            <td>{{ lower_points|index:forloop.counter0 }}</td>
                        </tr>
                        <br>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% else %}
        <div class="jumbotron" style="margin-left:10vw;margin-right:10vw;margin-top:10vh;">
            <h1 class="display-4">Welcome to Exercise Gamification!</h1>
            <p class="lead">Get started on your journey to beating your friends by earning points and leveling up as
                you
                record your workouts.</p>
            <hr class="my-4">
            <p>Log into your personal exercise gamification dashboard!</p>
            <p class="lead">
                <a class="btn btn-primary" role="button" href="{% provider_login_url 'google' %}">Login With
                    Google</a>
            </p>
        </div>

        {% endif %}

    </body>
</div>


{% endblock content %}

{% block footer %}
<footer class="bg-light text-center text-lg-start">
    <div class="navbar navbar-inverse navbar-static-bottom">
        <div class="navbar-text pull-left">
            Author: a-14
        </div>
        <div class="navbar-text pull-left">
            &copy; a-14, 2021
        </div>
    </div>
</footer>
{% endblock footer %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>