{% extends "index.html" %}

{% load crispy_forms_tags %}

{% block content %}

<style>
	h4 {
	font-weight: normal;
	}
</style>
<h1 class="d-flex justify-content-center">Upper Body Workouts List:</h1>

<div class="container text-center">
    {% for data in upper_querey_list %}
		<div class="list-group-item flex-column">
            <h3>Type: {{ data.type }}</h3>
			<h4>Sets: {{ data.sets }}</h4>
			<h4>Reps: {{ data.reps }}</h4>
			<h4>Date: {{ data.date }}</h4>
		</div>
	{% endfor %}
</div>

{% endblock content %}